<h1><%= @meetup.name %></h1>
<p><%= @meetup.location %></p>
<p><%= @meetup.description %></p>

<h3> Attendees </h3>

<% @users.each do |user| %>
  <div class="user_info">
    <img src="<%= user.avatar_url%>" alt="<%= user.username %>" height="125" width="125">
    <br>
    <p align="center"><%= user.username %></p>
    <br>
  </div>
<% end %>

<form align="center" action="/join_meetup/<%= @meetup.id %>" method="post">
  <input type="submit" value="Join meetup!">
</form>
