<h1><%= @meetup.name %></h1>
<p><%= @meetup.location %></p>
<p><%= @meetup.description %></p>

<h3> Attendees </h3>

<% @users.each do |user| %>
  <%= user.username %>
  <img src="<%= user.avatar_url%>" alt="<%= user.username %>">
  <br>
<% end %>

<form align="center" action="/join_meetup/<%= @meetup.id %>" method="post">
  <input type="submit" value="Join meetup!">
</form>
